<div class="container">
  <div class="column forms">
    <mat-card>
      <form id="studentDetails" [formGroup]="studentDetails">
        <mat-form-field appearance="fill">
          <mat-label>Roll No</mat-label>
          <input
            type="text"
            matInput
            formControlName="rollNumber"
            [matAutocomplete]="auto"
          />
          <mat-autocomplete
            #auto="matAutocomplete"
            (optionSelected)="changeStudent($event.option.value)"
          >
            <mat-option
              *ngFor="let option of filteredStudents | async"
              [value]="option.rollNumber"
            >
              {{option.rollNumber}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Name</mat-label>
          <input matInput [readonly]="true" formControlName="name" />
        </mat-form-field>
        <div class="fieldGroup">
          <mat-form-field appearance="fill">
            <mat-label>Hostel</mat-label>
            <input matInput [readonly]="true" formControlName="hostelName" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Room</mat-label>
            <input matInput [readonly]="true" formControlName="roomNumber" />
          </mat-form-field>
        </div>
        <div class="fieldGroup">
          <mat-form-field appearance="fill">
            <mat-label>Total Extra</mat-label>
            <input matInput [readonly]="true" formControlName="extra" />
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Total Mess Bill</mat-label>
            <input matInput [readonly]="true" formControlName="total" />
          </mat-form-field>
        </div>
      </form>
    </mat-card>
    <mat-card>
      <p class="title">Mess Cut</p>
      <form id="messCutForm" [formGroup]="messCutForm" (ngSubmit)="onMesscut()">
        <mat-form-field appearance="fill">
          <mat-label>Enter a date range</mat-label>
          <mat-date-range-input
            [rangePicker]="picker"
            [min]="monthStart"
            [max]="monthEnd"
          >
            <input
              matStartDate
              formControlName="start"
              placeholder="Start date"
            />
            <input matEndDate formControlName="end" placeholder="End date" />
          </mat-date-range-input>
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-date-range-picker #picker></mat-date-range-picker>
        </mat-form-field>
        <button mat-raised-button color="primary" type="submit">Absent</button>
      </form>
    </mat-card>
  </div>
  <div class="column table">
    <ag-grid-angular
      style="height: 100%; min-height: 600px; min-width: 300px"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [animateRows]="true"
      [columnDefs]="columnDefs"
      [resizable]="true"
      (gridReady)="onGridReady($event)"
    >
    </ag-grid-angular>
  </div>
</div>
